<div class="animate__animated animate__backInLeft">
    <h2>Search by country</h2>
    <hr>

    <div class="row">
        <div class="col">
            <app-country-input (onSearch)="search( $event )" (onDebounce)="showSuggestions( $event )"
                placeholder="Type a country...">

            </app-country-input>
        </div>
    </div>

    <ul class="list-group" *ngFor="let suggestion of suggestions">
        <a [routerLink]="['/country', suggestion.alpha2Code]" class="list-group-item list-group-item-action pointer">{{suggestion.name}}</a>
    </ul>

    <hr>

    <div class="alert alert-danger" *ngIf="!hasResults; else showResults">
        Country not found, try another one
    </div>

    <ng-template #showResults>
        <div class="row" *ngIf="countries.length > 0">
            <div class="col">
                <app-country-table [countries]="countries"></app-country-table>
            </div>
        </div>
    </ng-template>
</div>